<h1> <%= @list.name %> </h1>

<% @list.bookmarks.each do |bookmark| %>
<%= bookmark.movie.title %>
<p> - "<%= bookmark.comment %>" </p>
<%= link_to "Delete",
    list_bookmark_path(@list, bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>

<%= link_to "add a bookmark",  new_list_bookmark_path(@list) %>

<%= link_to "Home", root_path %>
